<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
   
    <meta name='description' content='<%= description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- (json) %>
    <link rel="shortcut icon" href="public/icon.png" type="image/x-icon">
    <link rel="canonical" href=https://qucu.ru/who-is-faster-php-or-js>
    <link rel="stylesheet" href="who-is-faster-PHP-or-JS/public/index.css">
    <link rel="shortcut icon" href="who-is-faster-PHP-or-JS/public/icon.png" type="image/x-icon">

</head>
<body>
  <main>
  
      <header><%- header %></header>
     
      <article><%- article %></article>
      <footer><%- footer %></footer>
  
</body>
<html>
